Source: base-passwd
Section: admin
Priority: required
Maintainer: Colin Watson <cjwatson@debian.org>
Standards-Version: 3.6.0
Build-Depends: dpkg-dev (>= 1.15.7~), debhelper (>= 9~), dh-autoreconf, sgmltools-lite, dpkg (>= 1.16.4) | sgml-base (<< 1.26+nmu2), w3m, po4a
Vcs-Git: git://anonscm.debian.org/users/cjwatson/base-passwd.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=users/cjwatson/base-passwd.git

Package: base-passwd
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Pre-Depends}, ${misc:Depends}
Essential: yes
Replaces: base
Description: Debian base system master password and group files
 These are the canonical master copies of the user database files
 (/etc/passwd and /etc/group), containing the Debian-allocated user and
 group IDs. The update-passwd tool is provided to keep the system databases
 synchronized with these master files.
